<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/l_util.css">
	<link rel="stylesheet" type="text/css" href="static/css/l_main.css">
<!--===============================================================================================-->

	<script type="text/javascript"> 
        function check() { 
        	var password = document.getElementById('pass'), c_password = document.getElementById('r_pass');
            if (password.value != c_password.value) { 
            	r_pass.setCustomValidity('Password Not Matching');
            }
            else{ 
            	r_pass.setCustomValidity('');
            } 
        }

        function reset() {
        	document.getElementById('frm').reset();
        }
    </script>
</head>
<body onload="reset();">
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
    {% endif %}
  {% endwith %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" id="frm" action="http://localhost:5000/forgotpass" method = 'POST'>
					<span class="login100-form-title p-b-53">
						Forgot Password<br>
					</span>
					{% if d == 1 %}
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" pattern="[A-Za-z0-9_-]{4,20}" title="only contains characters, numbers, _ , - and 4 to 20 characters" required>
						<span class="focus-input100"></span>
					</div>
					{% endif %}

				<!--	<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email is required">
						<input class="input100" type="text" name="email" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+" title="Please enter Valid EMAIL" required>
						<span class="focus-input100"></span>
					</div> -->

					{% if d == 2 %}
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							OTP
						</span>
						<p>OTP Sent to your E-mail</p>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="otp" maxlength="4" pattern="[0-9]{4}" title="only contains numbers" required>
						<span class="focus-input100"></span>
					</div>
					{% endif %}
					
					{% if d == 3 %}
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							New Password
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="pass" name="pass" pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}" title="Must contain at least one number and one uppercase and lowercase letter and one special character and 7 to 15 characters" required>
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Confirm Password
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="r_pass" name="r_pass" onkeyup="check();" required>
						<span class="focus-input100"></span>
					</div>
					{% endif %}
					<input type="hidden" name="d" value="{{ d }}">
					<input type="hidden" name="usernamet" value="{{ username }}">
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type = 'submit'>
							CONTINUE
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/l_main.js"></script>

</body>
</html>